<div class="w-full h-full min-h-80 flex justify-center items-center">
    <div class="w-8/12 h-5/6 p-6 border-2 rounded-lg shadow-xl">
        <div class="w-full flex justify-between px-1">
            <span class="text-2xl font-bold">Suas Escolas</span>
            <button class="bg-blue-500 text-white px-2 py-1 rounded-md" routerLink="criar">Criar Escola</button>
        </div>
        <div class="mt-4 w-full py-2 border-2 rounded-lg">
            <table class="table w-full">
                <thead>
                    <tr class="table-row">
                        <th class="table-cell text-start px-4">Nome</th>
                        <th class="table-cell text-start px-4">Código</th>
                        <th class="table-cell text-start px-4 w-1/12">Ações</th>
                    </tr>
                </thead>
                <tbody class="py-2">
                    <tr *ngIf="loading" class="table-row border-t">
                        <td class="table-cell px-4 text-center" colspan="3">carregando...</td>
                    </tr>

                    <ng-container *ngIf="!loading">
                        <tr *ngIf="!schools?.length; else renderRows" class="table-row border-t">
                            <td class="table-cell px-4 text-center" colspan="3">nenhum registro encontrado.</td>
                        </tr>

                        <ng-template #renderRows>
                            <tr *ngFor="let item of schools" class="table-row border-t">
                                <td class="table-cell px-4 pt-2">{{item.name}}</td>
                                <td class="table-cell px-4 pt-2">{{item.inep_code}}</td>
                                <td class="table-cell px-4 pt-2">
                                    <div class="flex gap-3">
                                        <svg-icon src='assets/images/icons/pen-to-square.svg'
                                            class="flex h-4 fill-current text-blue-500 hover:text-blue-400 cursor-pointer"
                                            title="Editar" [routerLink]="[item.id, 'editar']">
                                        </svg-icon>

                                        <svg-icon src='assets/images/icons/x.svg'
                                            class="flex h-4 fill-current text-red-500 hover:text-red-400 cursor-pointer"
                                            title="Excluir" (click)="delete(item)">
                                        </svg-icon>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
